/* selector
property: value;
}*/
 
body{
    background-image: url(./background-photo.jpg);
    background-size: cover;
}

section ul{
    
}


h2 h4{
    color: #AA3C39;
    text-align: center;
    border: 5px solid black;
    cursor: pointer;
}

p{
    color: pink;
}

.ping{
    background-color: red;
}

li {
    list-style: none;
    display: inline-block;
}

#pong{
    color: aliceblue;
}